.map{
	display:inline-grid;
	width: auto;
	border:1px solid black;
	margin: auto;
}

.cell{
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-family: Lucida Console, monospace;
	position: relative;
  touch-action: manipulation;
  user-select: none;
  cursor: default;
}

button{
  touch-action: manipulation;
  border: none;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.link-sharer-container{
  margin-top: 20px;
}

input{
  width: 320px;
  text-align: center;
  border: none;
  color: #fff;
  background-color: #666;
  padding: 5px;
  font-size: 8px;
}

.link-sharer-container p{
  margin-top: 8px;
}
